# AWS
AWS_REGION=eu-north-1
# Each team member must use their own IAM keys
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=....
# Cognito
COGNITO_USER_POOL_ID=eu-north-1_yiZHq2Kjq
COGNITO_CLIENT_ID=2htsqh63jfnovghtlcjmhmilog
COGNITO_REGION=eu-north-1

# DynamoDB tables
DYNAMODB_USERS_TABLE=Users
DYNAMODB_TEAMS_TABLE=Teams
DYNAMODB_PROJECTS_TABLE=Projects
DYNAMODB_TASKS_TABLE=Tasks
DYNAMODB_COMMENTS_TABLE=Comments
DYNAMODB_ACTIVITY_LOG_TABLE=ActivityLogs

# SNS / SQS / CloudWatch
SARA_ASSIGNMENT_TOPIC_ARN=arn:aws:sns:eu-north-1:928331458997:mini-jira-sara-task-assignment-topic
OMAR_ASSIGNMENT_TOPIC_ARN=arn:aws:sns:eu-north-1:928331458997:mini-jira-task-assignment-topic
CLOUDWATCH_ALARM_TOPIC_ARN=arn:aws:sns:eu-north-1:928331458997:mini-jira-cloudwatch-alarm-topic
OMAR_DAILY_DIGEST_TOPIC_ARN=arn:aws:sns:eu-north-1:928331458997:mini-jira-daily-digest-topic
SARA_DAILY_DIGEST_TOPIC_ARN=arn:aws:sns:eu-north-1:928331458997:mini-jira-sara-daily-digest-topic
CLOUDWATCH_NAMESPACE=MiniJira



# Server
PORT=3000
NODE_ENV=development
